.content{
   width: calc(100% - 4px);
   color: rgba(255, 255, 255, 0.8);
   border: 2px solid rgba(64, 66, 204, 0.8);
   background-color: rgba(64, 66, 204, 0.4);
   .hasRecord{
      height: 30vh;
      .flexCenter();
      justify-content: flex-start;
      .prizeFont{
         font-size: 20px;
         font-weight: 500;
      }
      .chainBlock{
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         .chainBlockLeft{
            width: 40px;
            background-color: rgba(114, 116, 223, 0.8);
            .flexCenter();
         }
         .chainBlockRight{
            // flex: 1;
            width: calc(100% - 40px);
            background-color: rgba(88, 89, 192, 0.8);
            word-break: break-all; // 只对英文起作用，以字母作为换行依据。
            word-wrap: break-word; // 只对英文起作用，以单词作为换行依据。
            white-space: pre-wrap; // 只对中文起作用，强制换行。
         }
      }
      .personFont{

      }
   }
   .noRecord{
      height: 20vh;
      .flexCenter();
   }
}