.record{
   height: calc(100vh - 20px - 100px);
   overflow-x: auto;
   overflow-y: auto;
   .wrap{
      .flexCenter();
      justify-content: flex-start;
      .title{
         font-size: 28px;
         font-weight: 600;
      }
   }
}